{% extends 'aplicacion/base.html' %}
{% load static %}

{% block cabecera %}
<header class="bg-light py-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-6"><img class="img-fluid rounded mx-auto d-block mb-4 mb-lg-0" src={% static 'aplicacion/profile.jpeg' %} alt="Profile Pic"></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Daniel Augusto Maestre Noguera</h1>
            <p>Soy un profesional con experiencia en el área de soporte técnico, y actualmente despliego mis habilidades como Ingeniero Industrial en esta función. Mi trayectoria me ha proporcionado una comprensión sólida de cómo las tecnologías impulsan el funcionamiento de las empresas.
            <br>
            <br>
            En mi papel actual, me he dado cuenta de la importancia del lenguaje de programación Python en el backend de los sistemas que nuestra empresa ofrece. Esta observación me llevó a tomar la decisión de estudiar Python de manera más profunda, ya que vi que podía enriquecer mi comprensión del back end de los sistemas y, por ende, mejorar mi contribución en mi rol.
            <br> 
            <br>
            A medida que he profundizado mis conocimientos en Python, he logrado una comprensión más profunda del funcionamiento interno de nuestras soluciones. Esto ha tenido un impacto directo en mi capacidad para brindar soporte técnico informado y efectivo a nuestros clientes.
            <br>  
            <br>
            La perrita se llama Susy ;) </p>
        </div>
    </div>
</header>
{% endblock cabecera %}

{% block contenido%}
{% endblock contenido%}