{% extends 'aplicacion/base.html' %}
{% load static %}

{% block cabecera %}
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2" >¡Encuentra Amigos!</h1>
                    <p class="lead text-white-50 mb-4">Busca por el Nombre</p>
                    <form action="/aplicacion/buscarNombre" method="get">
                        {% csrf_token %}
                        <input type="text" name="nombre" id="nombre">
                        <input type="submit" value="Buscar">
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock cabecera %}