{% extends 'aplicacion/base.html' %}
{% load static %}

{% block cabecera %}
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2" >¡Mira las mejores películas disponibles!</h1>
                    <p class="lead text-white-50 mb-4">¡Checa la selección de películas que tenemos para tí!</p>
                    <p class="lead text-white-50 mb-4">¿Qué quieres encontrar?</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-light" href={% url 'buscarVideojuegos' %}>Videojuegos</a>
                        <a class="btn btn-light" href={% url  'buscarClientes' %}>Amigos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock cabecera%}


{% block contenido %}
{% block buscarClientes%}
<br>
<div class="container-fluid px-5">
    <div class="row gx-5 justify-content">
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table}}
            </table>
            <input type="submit" value="Enviar">
        </form>
    </div>
</div>
<br>
{% endblock buscarClientes%}
{% endblock contenido %}