{% extends 'aplicacion/base.html' %}
{% load static %}

{% block cabecera %}
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2" >¡Mira las mejores películas disponibles!</h1>
                    <p class="lead text-white-50 mb-4">¡Checa la selección de películas que tenemos para tí!</p>
                    <p class="lead text-white-50 mb-4">¿Qué quieres encontrar?</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-light" href={% url 'buscarVideojuegos' %}>Videojuegos</a>
                        <a class="btn btn-light" href={% url  'buscarClientes' %}>Amigos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock cabecera %}

{% block contenido %}
<section id="scroll">
    <h1 class="text-center">Peliculas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Director</th>
                <th>Productora</th>
                <th>Protagonista</th>
                <th>Género</th>
                <th>Fecha de Estreno</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        {% for Peliculas in peliculas %}
        <tbody>
            <tr>
                <td>{{ Peliculas.titulo }}</td>
                <td>{{ Peliculas.director }}</td>
                <td>{{ Peliculas.productora }}</td>
                <td>{{ Peliculas.actor_protagonista }}</td>
                <td>{{ Peliculas.genero }}</td>
                <td>{{ Peliculas.fecha_estreno }}</td>
                <td>{{ Peliculas.cantidad }}</td>
                {% if user.is_authenticated %}
                <td>
                    <a
                        href="{% url 'updatePeliculas' Peliculas.id %}"
                        class="btn btn-primary"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                        ><i class="bi bi-pencil-square" title="Edit Record"></i>
                    </a>
                    <a
                        href="{% url 'deletePeliculas' Peliculas.id %}"
                        class="btn btn-danger"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                        ><i class="bi bi-trash" title="Delete Record"></i>
                    </a>
                </td>
                {% endif %}
            </tr>
        </tbody>
        {% endfor %}
    </table>
</section>
{% if user.is_authenticated %}
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
    <a class="btn btn-dark" href={% url 'peliculasForm' %}>Agrega una Película</a>
</div>
{% endif %}
<br>
{% endblock contenido %}
