{% extends 'aplicacion/base.html' %}
{% load static %}

{% block cabecera %}
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="#">
                    <h1 class="display-5 fw-bolder text-white mb-2" >¡Registrate!</h1>
                        <br>
                        <form action="" method="POST" class="display-10 fw-bolder text-white mb-1" >
                            {% csrf_token %}
                            <table>
                                {{ form.as_table}}
                            </table>
                            <input type="submit" value="Register">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock cabecera %}

{% block contenido%}
    {% if mensaje %}
    <h4>
        <p style="color:red" align="center" bgr="black">
        {{ mensaje }}
        </p>
    </h4>
    {% endif %}


{% endblock contenido%}